body {
    position: relative;
    background-color: white;
    background-image: url("an-image.jpg");
    background-size: cover;
    /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.6);
    /* White with 60% opacity */
    background-blend-mode: lighten;
    /* Or other blend modes like*/
}

.chatline {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}