.header-image {
    width: 25rem;
    padding: 5px;
}

.title-image {
    height: 8rem;
}

.title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-left:0.5rem;
    margin-right:0.5rem;
}

.computer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-left:0.5rem;
    margin-right:0.5rem;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    gap: 0.5rem;
    padding: 0;
    margin:0;
}

header {
    display: flex;
    direction: row;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.75);
    width: 100vw;
}

.cv-container {
    background-color: white
}

footer {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100vw;
    padding-bottom: 0 ;
}
